
.container {
  position: relative; 
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */


}

.backgroundimg{
	  
		background-color: #1E2832;
		
		
		background-image: url("central.jpg");
		background-repeat: no-repeat;
		background-size: 100% 100%;

}
.container .content {
  position: absolute; /* Position the background text */
  /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}
.allignmenta{
   
	background: rgba(0,00,100,0.5);
	display: flex;
	justify-content:flex-start;
	color: white;

}
h1{
	padding-left: 10px;

}

.do-padding{
	padding-top: 100px;
	padding-bottom: 250px;
}




.size-allotment{
	width: 200px;
	height: 200px;
}

