   .backgroundimg{
    
    background-color: #1E2832;
    
    
    background-image: url("central.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.allignmenta{
   
  background: rgba(0,00,00,0.7);
  text-align: center;
  color: white;
  padding-top: 150px;
  padding-bottom: 250px;
    font-family: 'Merriweather', serif;
}
h1{
  padding-left: 10px;

}

.do-padding{
  
}


.size-allotment{
  width: 200px;
  height: 200px;
}

.btn {
  background-color: rgb(50,00,100); /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

ul{
  display: flex;
  flex-wrap: wrap;
   list-style-type: none;
}
li{
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
}
.img-res{
  width :50%;
  height: auto;

}
.header-per{
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 2px 2px 2px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


.dropbtn {
   padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color:  #818181;
  display: block;
  transition: 0.3s;
  background-color: black;
  border: none;
}

/* The container <div> - needed to position the  content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  overflow: auto;
  z-index: 1;
  padding-left: 32px;
}


#droplist li a{
  font-size: 15px;
}

/* Links inside the dropdown */
.dropdown-content a {

  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color oa dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #ddd;}

.frontBar{
 /* 100% Full-height */
  width: 50%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
 /* Stay at the top */
  left: 20px; /* Black*/

}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 200%;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.table-per{
  display: flex;
  flex-wrap: nowrap;
}

.img-responsive{
  width:100%;
}
.padding-per{
  padding-left: 10px
}


@media screen and (max-width: 600px) {
  div.example {
    font-size: 30px;
  }
}

@media screen and (max-width: 600px){
  .table-per{
    display: flex;
    flex-wrap: wrap;
  }
}

.blinking{
    animation:blinkingText 0.8s infinite;
}

.footer {
  left: 0;
  bottom: 0;
  height: 200px;
  width: 100%;
  background-image: url(ahh.jpg);
  color: white;
  margin-top: 122px;

  
}
.wrap{
    text-align:center
}
.left{
    float: left;
    background:grey
}
.right{
    float: right;
    background:red
}
.center{
 
    background:green;
    margin:0 auto;
   display:inline-block

}
.social-links{
  display: inline;
}
.quick-links{
  display: inline;
}

.bootom{
  background-color: black;
  width: 100%;
  min-height: 20px;

}

.para{
  color: white;
  margin-bottom: 0;
  font-size: 15px;
  display: inline-block;
  padding-left: 400px;
  padding-top: 1px;
  padding-bottom: 5px;
}


@keyframes blinkingText{
    0%{     color: red;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: red;    }
}




hr.style-one {
border: 0;
height: 2px;
background: #333;
background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}



/***** Footer *****/

.footer-top { padding: 60px 0; background: #333; text-align: left; color: #aaa; }
.footer-top h3 { padding-bottom: 10px; color: #fff; }

.footer-about img.logo-footer { max-width: 74px; margin-top: 0; margin-bottom: 18px; }
.footer-about p a { color: #aaa; border-bottom: 1px dashed #666; }
.footer-about p a:hover, .footer-about p a:focus { color: #fff; border-color: #aaa; }

.footer-contact p { word-wrap: break-word; }
.footer-contact i { padding-right: 10px; font-size: 18px; color: #666; }
.footer-contact p a { color: #aaa; border-bottom: 1px dashed #666; }
.footer-contact p a:hover, .footer-contact p a:focus { color: #fff; border-color: #aaa; }

.footer-social a { display: inline-block; margin-right: 20px; margin-bottom: 8px; color: #777; border: 0; }
.footer-social a:hover, .footer-social a:focus { color: #aaa; border: 0; }
.footer-social i { font-size: 24px; vertical-align: middle; }

.footer-bottom { padding: 15px 0; background: #444; text-align: left; color: #aaa; }

.footer-copyright p { margin: 0; padding: 0.5rem 0; }
.footer-copyright a { color: #fff; border: 0; }
.footer-copyright a:hover, .footer-copyright a:focus { color: #aaa; border: 0; }

/* footer navbar */
.navbar { padding: 0; background: #444; backface-visibility: hidden; }

.navbar-dark .navbar-nav { font-size: 15px; color: #fff; font-weight: 400; }
.navbar-dark .navbar-nav .nav-link { color: #fff; border: 0; }
.navbar-dark .navbar-nav .nav-link:hover { color: #aaa; }
.navbar-dark .navbar-nav .nav-link:focus { color: #aaa; outline: 0; }

.navbar-expand-md .navbar-nav .nav-link { padding-left: 1rem; padding-right: 1rem; }

.imagedo{
 width: 20%
 height: 20%;
}
p{
  font-size: 15px;
}
table a{
  color:black !important; 
}
h1{
  font-family: 'Staatliches', cursive;
}



p.link1 a:hover{
  text-decoration: none;
 

}




div.padding-per a:hover{
  text-decoration: none;
}


ul.link3 a:hover{
  text-decoration: none;
  
}

ul.link4 li{
  font-size: 20px;


}



